body {
    text-align: center;
    background-color: rgb(5, 3, 22);
  }
  .conteiner{
    margin: 100px;
  }
  
  h1 {
    color: white;
    font-size: 3em;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
  }
  p, h5{
    color: white;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
  }
  
  input {
    color: #8707ff;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
   }
   
  input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
  
  button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 1.5em;
    color: var(--glow-color);
    font-size: 12.5px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   
  
  #mensaje {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    margin-top: 20px;
  }
  